// Colores

$color-principal: rgb(0, 0, 0);
$color-secundario: rgb(255, 255, 255);
$color-terciario: rgb(8, 57, 10);
$color-whatsapp: #58c84a;
$color-facebook: rgb(59, 89, 152);
$color-gris: rgb(30, 29, 29);

